body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f3f4f6;
}

.sidebar {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
}

main {
    margin-left: 16.66%; /* correspond à col-md-3 */
    margin-bottom: 60px; /* espace pour le footer fixe */
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.footer {
    font-size: 0.9em;
    z-index: 1030;
}
